marketing/workflows/n8n-social-media-workflow.json
{
  "name": "SwingBy Social Media Automation",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 9 * * *"
            }
          ]
        },
        "timezone": "America/Edmonton"
      },
      "id": "node-001",
      "name": "Daily 9am Trigger",
      "type": "n8n-nodes-base.cron",
      "typeVersion": 1,
      "position": [100, 300]
    },
    {
      "parameters": {
        "resource": "databasePage",
        "operation": "getAll",
        "databaseId": "={{$vars.NOTION_CONTENT_DB_ID}}",
        "returnAll": false,
        "limit": 10,
        "filterType": "manual",
        "filters": {
          "conditions": [
            {
              "key": "Status.select.name",
              "condition": "equals",
              "value": "ready"
            },
            {
              "key": "Scheduled date.date.start",
              "condition": "equals",
              "value": "={{$now.toFormat('yyyy-MM-dd')}}"
            }
          ]
        }
      },
      "id": "node-002",
      "name": "Fetch Content from Notion",
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2,
      "position": [320, 300],
      "credentials": {
        "notionApi": {
          "id": "NOTION_CREDENTIAL_ID",
          "name": "Notion API"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{$json.results.length}}",
              "operation": "larger",
              "value2": 0
            }
          ]
        }
      },
      "id": "node-003",
      "name": "Has Content Today?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [540, 300]
    },
    {
      "parameters": {
        "channel": "={{$vars.SLACK_APPROVAL_CHANNEL}}",
        "text": "No content scheduled for today. Add a row with Status=ready in the Notion DB.",
        "otherOptions": {}
      },
      "id": "node-004",
      "name": "Slack: No Content Today",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2,
      "position": [760, 500],
      "credentials": {
        "slackApi": {
          "id": "SLACK_CREDENTIAL_ID",
          "name": "Slack Bot Token"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$json['Caption draft']}}",
              "operation": "isEmpty"
            }
          ]
        }
      },
      "id": "node-005",
      "name": "Has Caption Draft?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [760, 300]
    },
    {
      "parameters": {
        "resource": "chat",
        "operation": "complete",
        "model": "gpt-4o",
        "messages": {
          "values": [
            {
              "role": "system",
              "content": "You are a social media copywriter for SwingBy, a Calgary-based service marketplace. Voice: direct, warm, confident. Short sentences. No jargon. No 'unlock', 'leverage', or 'ecosystem'. Calgary-specific where possible. Always end with a soft call to action or question."
            },
            {
              "role": "user",
              "content": "Content brief: {{$json['Content brief']}}\nPlatforms: {{$json['Platform']}}\n\nWrite captions for each platform. Follow platform conventions:\n- Instagram: 100-150 words, 5-10 hashtags at end, emoji allowed\n- LinkedIn: 120-200 words, no hashtags, professional but personal\n- Twitter: under 280 characters, punchy\n- Facebook: 80-120 words, conversational, local focus\n- TikTok: short caption, 3-5 hashtags\n\nReturn valid JSON only: {\"instagram\": \"...\", \"linkedin\": \"...\", \"twitter\": \"...\", \"facebook\": \"...\", \"tiktok\": \"...\"}"
            }
          ]
        },
        "options": {
          "temperature": 0.7,
          "maxTokens": 1500
        }
      },
      "id": "node-006",
      "name": "OpenAI: Generate Captions",
      "type": "n8n-nodes-base.openAi",
      "typeVersion": 1,
      "position": [980, 200],
      "credentials": {
        "openAiApi": {
          "id": "OPENAI_CREDENTIAL_ID",
          "name": "OpenAI API Key"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const captions = JSON.parse($input.first().json.choices[0].message.content);\nreturn [{\n  json: {\n    ...$input.first().json,\n    generatedCaptions: captions\n  }\n}];"
      },
      "id": "node-007",
      "name": "Parse Generated Captions",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1200, 200]
    },
    {
      "parameters": {
        "jsCode": "const existingDraft = $input.first().json['Caption draft'];\nreturn [{\n  json: {\n    ...$input.first().json,\n    generatedCaptions: {\n      instagram: existingDraft,\n      linkedin: existingDraft,\n      twitter: existingDraft.substring(0, 280),\n      facebook: existingDraft,\n      tiktok: existingDraft\n    }\n  }\n}];"
      },
      "id": "node-008",
      "name": "Use Existing Draft",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [980, 400]
    },
    {
      "parameters": {
        "channel": "={{$vars.SLACK_APPROVAL_CHANNEL}}",
        "text": ":pencil: *Content ready for approval*\n\n*Title:* {{$json.Title}}\n*Platforms:* {{$json.Platform}}\n*Image:* {{$json['Image URL'] || 'No image provided'}}\n\n*Instagram caption preview:*\n{{$json.generatedCaptions.instagram.substring(0, 200)}}...\n\nReply with `approve` or `reject [reason]` to this message.",
        "otherOptions": {}
      },
      "id": "node-009",
      "name": "Slack: Send for Approval",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2,
      "position": [1420, 300],
      "credentials": {
        "slackApi": {
          "id": "SLACK_CREDENTIAL_ID",
          "name": "Slack Bot Token"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "swingby-approval",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "node-010",
      "name": "Webhook: Receive Approval",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [1640, 300],
      "webhookId": "REPLACE_WITH_YOUR_WEBHOOK_ID"
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$json.body.action}}",
              "operation": "equals",
              "value2": "approve"
            }
          ]
        }
      },
      "id": "node-011",
      "name": "Approved?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [1860, 300]
    },
    {
      "parameters": {
        "url": "https://graph.facebook.com/v19.0/={{$vars.INSTAGRAM_USER_ID}}/media",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "image_url",
              "value": "={{$json['Image URL']}}"
            },
            {
              "name": "caption",
              "value": "={{$json.generatedCaptions.instagram}}"
            },
            {
              "name": "access_token",
              "value": "={{$vars.META_ACCESS_TOKEN}}"
            }
          ]
        },
        "options": {}
      },
      "id": "node-012",
      "name": "Instagram: Upload Media",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [2080, 100]
    },
    {
      "parameters": {
        "url": "https://graph.facebook.com/v19.0/={{$vars.INSTAGRAM_USER_ID}}/media_publish",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "creation_id",
              "value": "={{$json.id}}"
            },
            {
              "name": "access_token",
              "value": "={{$vars.META_ACCESS_TOKEN}}"
            }
          ]
        },
        "options": {}
      },
      "id": "node-013",
      "name": "Instagram: Publish",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [2300, 100]
    },
    {
      "parameters": {
        "url": "https://graph.facebook.com/v19.0/={{$vars.FACEBOOK_PAGE_ID}}/photos",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "url",
              "value": "={{$json['Image URL']}}"
            },
            {
              "name": "message",
              "value": "={{$json.generatedCaptions.facebook}}"
            },
            {
              "name": "access_token",
              "value": "={{$vars.META_ACCESS_TOKEN}}"
            }
          ]
        },
        "options": {}
      },
      "id": "node-014",
      "name": "Facebook: Post Photo",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [2080, 300]
    },
    {
      "parameters": {
        "resource": "post",
        "operation": "create",
        "text": "={{$json.generatedCaptions.twitter}}",
        "additionalFields": {}
      },
      "id": "node-015",
      "name": "Twitter: Post Tweet",
      "type": "n8n-nodes-base.twitter",
      "typeVersion": 2,
      "position": [2080, 500],
      "credentials": {
        "twitterOAuth2Api": {
          "id": "TWITTER_CREDENTIAL_ID",
          "name": "Twitter OAuth2"
        }
      }
    },
    {
      "parameters": {
        "resource": "post",
        "operation": "create",
        "organizationId": "={{$vars.LINKEDIN_ORG_ID}}",
        "text": "={{$json.generatedCaptions.linkedin}}",
        "additionalFields": {}
      },
      "id": "node-016",
      "name": "LinkedIn: Post",
      "type": "n8n-nodes-base.linkedIn",
      "typeVersion": 1,
      "position": [2080, 700],
      "credentials": {
        "linkedInOAuth2Api": {
          "id": "LINKEDIN_CREDENTIAL_ID",
          "name": "LinkedIn OAuth2"
        }
      }
    },
    {
      "parameters": {
        "url": "https://api.bufferapp.com/1/updates/create.json",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "profile_ids[]",
              "value": "={{$vars.BUFFER_TIKTOK_PROFILE_ID}}"
            },
            {
              "name": "text",
              "value": "={{$json.generatedCaptions.tiktok}}"
            }
          ]
        },
        "options": {}
      },
      "id": "node-017",
      "name": "TikTok: Queue via Buffer",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [2080, 900]
    },
    {
      "parameters": {
        "resource": "databasePage",
        "operation": "update",
        "pageId": "={{$json.id}}",
        "propertiesUi": {
          "propertyValues": [
            {
              "key": "Status",
              "type": "select",
              "selectValue": "posted"
            },
            {
              "key": "Post IDs",
              "type": "richText",
              "textContent": "IG: {{$json.instagramPostId}} | FB: {{$json.facebookPostId}} | TW: {{$json.twitterPostId}}"
            }
          ]
        }
      },
      "id": "node-018",
      "name": "Notion: Mark as Posted",
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2,
      "position": [2520, 400],
      "credentials": {
        "notionApi": {
          "id": "NOTION_CREDENTIAL_ID",
          "name": "Notion API"
        }
      }
    },
    {
      "parameters": {
        "channel": "={{$vars.SLACK_APPROVAL_CHANNEL}}",
        "text": ":x: Post rejected or timed out. Notion row status updated to 'ready' for tomorrow.",
        "otherOptions": {}
      },
      "id": "node-019",
      "name": "Slack: Rejection Notice",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2,
      "position": [2080, 1100],
      "credentials": {
        "slackApi": {
          "id": "SLACK_CREDENTIAL_ID",
          "name": "Slack Bot Token"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 23 * * *"
            }
          ]
        },
        "timezone": "America/Edmonton"
      },
      "id": "node-020",
      "name": "Nightly 11pm Analytics Trigger",
      "type": "n8n-nodes-base.cron",
      "typeVersion": 1,
      "position": [100, 800]
    },
    {
      "parameters": {
        "url": "https://graph.facebook.com/v19.0/={{$vars.INSTAGRAM_USER_ID}}/media?fields=id,like_count,comments_count,timestamp&access_token={{$vars.META_ACCESS_TOKEN}}&limit=10",
        "options": {}
      },
      "id": "node-021",
      "name": "Instagram: Fetch Last 10 Posts Metrics",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [320, 800]
    },
    {
      "parameters": {
        "jsCode": "const posts = $input.first().json.data;\nconst today = new Date().toISOString().split('T')[0];\nconst summary = posts.slice(0, 3).map(p => `Post ${p.id}: ${p.like_count} likes, ${p.comments_count} comments`).join('\\n');\nreturn [{ json: { summary, count: posts.length, date: today, posts } }];"
      },
      "id": "node-022",
      "name": "Summarize Metrics",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [540, 800]
    },
    {
      "parameters": {
        "channel": "={{$vars.SLACK_METRICS_CHANNEL}}",
        "text": ":bar_chart: *SwingBy Social Digest — {{$json.date}}*\n\nTop posts today:\n{{$json.summary}}\n\nTotal posts tracked: {{$json.count}}",
        "otherOptions": {}
      },
      "id": "node-023",
      "name": "Slack: Nightly Digest",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2,
      "position": [760, 800],
      "credentials": {
        "slackApi": {
          "id": "SLACK_CREDENTIAL_ID",
          "name": "Slack Bot Token"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "swingby-dm-webhook",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "node-024",
      "name": "Webhook: Incoming DM",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [100, 1200],
      "webhookId": "REPLACE_WITH_DM_WEBHOOK_ID"
    },
    {
      "parameters": {
        "resource": "chat",
        "operation": "complete",
        "model": "gpt-4o",
        "messages": {
          "values": [
            {
              "role": "system",
              "content": "Classify this incoming social media DM into one of: service_inquiry, complaint, compliment, spam, other. Return JSON only: {\"category\": \"...\", \"summary\": \"...\"}"
            },
            {
              "role": "user",
              "content": "DM: {{$json.body.message}}"
            }
          ]
        },
        "options": {
          "temperature": 0.3,
          "maxTokens": 100
        }
      },
      "id": "node-025",
      "name": "OpenAI: Classify DM",
      "type": "n8n-nodes-base.openAi",
      "typeVersion": 1,
      "position": [320, 1200],
      "credentials": {
        "openAiApi": {
          "id": "OPENAI_CREDENTIAL_ID",
          "name": "OpenAI API Key"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{JSON.parse($json.choices[0].message.content).category}}",
              "operation": "equals",
              "value2": "complaint"
            }
          ]
        }
      },
      "id": "node-026",
      "name": "Is Complaint?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [540, 1200]
    },
    {
      "parameters": {
        "channel": "={{$vars.SLACK_ALERTS_CHANNEL}}",
        "text": ":red_circle: *DM Complaint received*\nFrom: {{$json.body.sender}}\nMessage: {{$json.body.message}}\n\nPlease respond personally within 2 hours.",
        "otherOptions": {}
      },
      "id": "node-027",
      "name": "Slack: Escalate Complaint",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2,
      "position": [760, 1100],
      "credentials": {
        "slackApi": {
          "id": "SLACK_CREDENTIAL_ID",
          "name": "Slack Bot Token"
        }
      }
    },
    {
      "parameters": {
        "url": "https://graph.facebook.com/v19.0/me/messages",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "recipient",
              "value": "={\"id\": \"{{$json.body.sender_id}}\"}"
            },
            {
              "name": "message",
              "value": "={\"text\": \"Thanks for reaching out! The fastest way to get started is to post your job at swingby.ca — it takes 60 seconds. Let me know if you have any questions!\"}"
            },
            {
              "name": "access_token",
              "value": "={{$vars.META_ACCESS_TOKEN}}"
            }
          ]
        },
        "options": {}
      },
      "id": "node-028",
      "name": "Auto-reply: Non-complaint DM",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [760, 1300]
    }
  ],
  "connections": {
    "Daily 9am Trigger": {
      "main": [
        [{ "node": "Fetch Content from Notion", "type": "main", "index": 0 }]
      ]
    },
    "Fetch Content from Notion": {
      "main": [
        [{ "node": "Has Content Today?", "type": "main", "index": 0 }]
      ]
    },
    "Has Content Today?": {
      "main": [
        [{ "node": "Has Caption Draft?", "type": "main", "index": 0 }],
        [{ "node": "Slack: No Content Today", "type": "main", "index": 0 }]
      ]
    },
    "Has Caption Draft?": {
      "main": [
        [{ "node": "Use Existing Draft", "type": "main", "index": 0 }],
        [{ "node": "OpenAI: Generate Captions", "type": "main", "index": 0 }]
      ]
    },
    "OpenAI: Generate Captions": {
      "main": [
        [{ "node": "Parse Generated Captions", "type": "main", "index": 0 }]
      ]
    },
    "Parse Generated Captions": {
      "main": [
        [{ "node": "Slack: Send for Approval", "type": "main", "index": 0 }]
      ]
    },
    "Use Existing Draft": {
      "main": [
        [{ "node": "Slack: Send for Approval", "type": "main", "index": 0 }]
      ]
    },
    "Slack: Send for Approval": {
      "main": [
        [{ "node": "Webhook: Receive Approval", "type": "main", "index": 0 }]
      ]
    },
    "Webhook: Receive Approval": {
      "main": [
        [{ "node": "Approved?", "type": "main", "index": 0 }]
      ]
    },
    "Approved?": {
      "main": [
        [
          { "node": "Instagram: Upload Media", "type": "main", "index": 0 },
          { "node": "Facebook: Post Photo", "type": "main", "index": 0 },
          { "node": "Twitter: Post Tweet", "type": "main", "index": 0 },
          { "node": "LinkedIn: Post", "type": "main", "index": 0 },
          { "node": "TikTok: Queue via Buffer", "type": "main", "index": 0 }
        ],
        [{ "node": "Slack: Rejection Notice", "type": "main", "index": 0 }]
      ]
    },
    "Instagram: Upload Media": {
      "main": [
        [{ "node": "Instagram: Publish", "type": "main", "index": 0 }]
      ]
    },
    "Instagram: Publish": {
      "main": [
        [{ "node": "Notion: Mark as Posted", "type": "main", "index": 0 }]
      ]
    },
    "Nightly 11pm Analytics Trigger": {
      "main": [
        [{ "node": "Instagram: Fetch Last 10 Posts Metrics", "type": "main", "index": 0 }]
      ]
    },
    "Instagram: Fetch Last 10 Posts Metrics": {
      "main": [
        [{ "node": "Summarize Metrics", "type": "main", "index": 0 }]
      ]
    },
    "Summarize Metrics": {
      "main": [
        [{ "node": "Slack: Nightly Digest", "type": "main", "index": 0 }]
      ]
    },
    "Webhook: Incoming DM": {
      "main": [
        [{ "node": "OpenAI: Classify DM", "type": "main", "index": 0 }]
      ]
    },
    "OpenAI: Classify DM": {
      "main": [
        [{ "node": "Is Complaint?", "type": "main", "index": 0 }]
      ]
    },
    "Is Complaint?": {
      "main": [
        [{ "node": "Slack: Escalate Complaint", "type": "main", "index": 0 }],
        [{ "node": "Auto-reply: Non-complaint DM", "type": "main", "index": 0 }]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": ""
  },
  "staticData": null,
  "tags": ["social-media", "swingby", "automation"],
  "triggerCount": 3,
  "updatedAt": "2026-06-06T00:00:00.000Z",
  "versionId": "1"
}
