AGENTS/claude/automation/morning_brief.workflow.json
{
  "id": "MorningBriefSwing",
  "name": "Morning Brief — SwingBy",
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "timezone": "America/Edmonton"
  },
  "pinData": {},
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "5 6 * * *"
            }
          ]
        }
      },
      "id": "node-schedule",
      "name": "Schedule 06:05",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -640,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "// Compile the Morning Brief as TWO short, scannable messages (repo mounted read-only at /data/swingby):\n//   1/2 Where we stand + overnight headlines · 2/2 Your moves today\n// Trimmed 2026-07-17 per Kira (\"works but more detailed than needed\"): headline bullets only,\n// hard caps everywhere, no raw build-log tail, no sub-steps — detail lives in STATUS.md /\n// HUMAN-TODO.md and each message ends with that pointer. Voice per ~/brain/KIRA.md: decisions\n// first, plain prose, never a log dump. Output sanitised (Markdown/Obsidian stripped,\n// word-boundary clipping, Telegram HTML escaping on dynamic text only). Each item carries\n// tokenVar so the two messages can post from different bots (falls back to TELEGRAM_BOT_TOKEN).\nconst fs = require('fs');\nconst read = (p) => { try { return fs.readFileSync(p, 'utf8'); } catch (e) { return ''; } };\nconst MEM = '/data/swingby/AGENTS/claude/memory/';\n\nconst status = read(MEM + 'STATUS.md');\nconst todo   = read(MEM + 'HUMAN-TODO.md');\nconst slog   = read(MEM + 'SESSION_LOG.md');\nconst doctor = read(MEM + 'DOCTOR-LATEST.md');\n\n// --- text hygiene ------------------------------------------------------------\n// Strip Markdown / Obsidian formatting down to plain prose.\nconst clean = (s) => (s || '')\n  .replace(/`{1,3}([^`]*)`{1,3}/g, '$1')            // `code`\n  .replace(/`/g, '')                                 // stray backticks\n  .replace(/\\*\\*([^*]+)\\*\\*/g, '$1')                 // **bold**\n  .replace(/\\*([^*]+)\\*/g, '$1')                     // *italic*\n  .replace(/~~([^~]+)~~/g, '$1')                     // ~~strike~~\n  .replace(/\\[\\[[^\\]|]*\\|([^\\]]+)\\]\\]/g, '$1')       // [[target|label]] -> label\n  .replace(/\\[\\[([^\\]]+)\\]\\]/g, '$1')                // [[wikilink]] -> text\n  .replace(/\\[([^\\]]+)\\]\\([^)]*\\)/g, '$1')           // [label](url) -> label\n  .replace(/^#{1,6}\\s*/, '')                         // leading heading hashes\n  .replace(/^\\s*[-*]\\s*\\[[ xX]\\]\\s*/, '')            // checkbox marker\n  .replace(/^\\s*[-*•]\\s+/, '')                       // leading list bullet\n  .replace(/^\\s*\\d+\\.\\s+/, '')                       // leading \"1. \"\n  .replace(/^\\(([^)]{2,90})\\)[\\s:—–-]*/, '')          // leading \"(tag)\" label\n  .replace(/\\s*·\\s*/g, ' — ')                        // middot separator -> em dash\n  .replace(/[ \\t]+/g, ' ')\n  .trim();\n\n// Escape for Telegram parse_mode=HTML. Apply ONLY to dynamic text, never to our own tags.\nconst esc = (s) => (s || '')\n  .replace(/&/g, '&amp;').replace(/</g, '&lt;').replace(/>/g, '&gt;');\n\n// Clip to n chars on a sentence, then word, boundary — never mid-word.\nconst clip = (s, n) => {\n  s = (s || '').trim();\n  if (s.length <= n) return s;\n  const cut = s.slice(0, n);\n  const stop = Math.max(cut.lastIndexOf('. '), cut.lastIndexOf('; '));\n  if (stop > n * 0.55) return cut.slice(0, stop + 1).trim();\n  return cut.replace(/\\s+\\S*$/, '').trim() + '…';\n};\n\n// One clean, escaped bullet (headline length by default — detail stays in the repo).\nconst bullet = (text, max) => '• ' + esc(clip(clean(text), max || 140));\n\n// Body of a '## Heading' section ('###' subheadings stay inside).\nconst section = (src, heading, hashes) => {\n  hashes = hashes || '##';\n  const h = heading.replace(/[.*+?^${}()|[\\]\\\\]/g, '\\\\$&');\n  const m = new RegExp('^' + hashes + ' .*' + h + '.*$', 'm').exec(src);\n  if (!m) return '';\n  const rest = src.slice(m.index + m[0].length);\n  const next = rest.search(new RegExp('^' + hashes + ' ', 'm'));\n  return (next === -1 ? rest : rest.slice(0, next)).trim();\n};\n\n// Bodies of EVERY '## Heading' section whose title matches (HUMAN-TODO keeps several\n// dated \"This morning\" sections — the newest still-open tasks live in the later ones).\nconst sectionsAll = (src, heading) => {\n  const h = heading.replace(/[.*+?^${}()|[\\]\\\\]/g, '\\\\$&');\n  const re = new RegExp('^## .*' + h + '.*$', 'gm');\n  const bodies = [];\n  let m;\n  while ((m = re.exec(src)) !== null) {\n    const rest = src.slice(m.index + m[0].length);\n    const next = rest.search(/^## /m);\n    bodies.push((next === -1 ? rest : rest.slice(0, next)).trim());\n  }\n  return bodies.join('\\n');\n};\n\n// Turn a section body into clean headline bullets (skips sub-headings and blank lines).\nconst toBullets = (body, max, cap) => {\n  const out = [];\n  for (let l of (body || '').split('\\n')) {\n    l = l.trim();\n    if (!l || /^#{1,6}\\s/.test(l)) continue;\n    const c = clean(l);\n    if (c.length < 3) continue;\n    out.push(bullet(c, cap || 140));\n    if (out.length >= (max || 4)) break;\n  }\n  return out;\n};\n\n// Unchecked \"- [ ]\" task headlines from a section. Done items and sub-steps are skipped —\n// the message points at HUMAN-TODO.md for the full steps.\nconst taskItems = (body, max) => {\n  const items = [];\n  for (const raw of (body || '').split('\\n')) {\n    if (/^\\s*[-*]\\s*\\[ \\]/.test(raw)) {\n      items.push(raw.trim());\n      if (items.length >= (max || 4)) break;\n    }\n  }\n  return items;\n};\n\n// Decisions get pulled to the top of the human message — Kira decides, never digs.\nconst isDecision = (t) => /decision|your call|decide/i.test(t);\nconst renderTasks = (arr, cap) => arr.map((t) => bullet(t, cap || 150)).join('\\n');\n\n// --- gather ------------------------------------------------------------------\nconst signal = section(status, 'Session End Signal');\nconst signalHead = clean((signal.split('\\n')[0] || '').trim()) || 'No signal recorded — see STATUS.md';\nconst phase = clean((section(status, 'Current Phase').split('\\n')[0] || '').trim());\n\n// Doctor verdict: swingby_doctor.sh writes DOCTOR-LATEST.md after every session.\nconst doctorFails = (doctor || '').split('\\n').filter((l) => l.includes('FAIL'));\nconst doctorLine = !doctor ? ''\n  : doctorFails.length ? '🔴 <b>Health:</b> ' + doctorFails.length + ' problem(s) — see DOCTOR-LATEST.md'\n  : '🟢 <b>Health:</b> all green';\n\n// Preferred: an explicit '## Morning Brief' with '### Backend'/'### Frontend'/'### Recap'.\n// Fallback: bucket the Session End Signal bullets by keyword (both/neither -> recap).\nconst mb = section(status, 'Morning Brief');\nlet backend = section(mb, 'Backend', '###');\nlet frontend = section(mb, 'Frontend', '###');\nlet recapBody = section(mb, 'Recap', '###');\n\nif (!backend && !frontend) {\n  const sLines = signal.split('\\n');\n  const bullets = sLines.filter((l) => /^\\s*[-•]\\s/.test(l));\n  const isBack = (b) => /backend|fastapi|pytest|endpoint|\\.py\\b|supabase|migration|\\bsql\\b|render|stripe|conftest/i.test(b);\n  const isFront = (b) => /mobile|frontend|screen|expo|babel|react|\\bRN\\b|gesture|navigation|App\\.js|\\.js\\b|safearea/i.test(b);\n  const back = [], front = [], rest = [];\n  for (const b of bullets) {\n    const bb = isBack(b), ff = isFront(b);\n    if (bb && !ff) back.push(b);\n    else if (ff && !bb) front.push(b);\n    else rest.push(b);\n  }\n  backend = back.join('\\n');\n  frontend = front.join('\\n');\n  recapBody = rest.join('\\n');\n}\n\nconst todoAll     = taskItems(sectionsAll(todo, 'This morning'), 10);\nconst decisions   = taskItems(sectionsAll(todo, 'Decisions'), 5)\n  .concat(todoAll.filter(isDecision)).slice(0, 3);\nconst doItems     = todoAll.filter((t) => !isDecision(t)).slice(0, 4);\nconst blockItems  = taskItems(sectionsAll(todo, 'Blocking'), 3);\n\nconst loopNext = clean((slog.match(/^NEXT:.*$/gm) || []).pop() || '');\nconst today = new Date().toLocaleDateString('en-CA', {\n  timeZone: 'America/Edmonton', weekday: 'long', year: 'numeric', month: 'long', day: 'numeric'\n});\n\n// Join parts (keeping '' as blank-line spacers, dropping null), collapse runs of blank\n// lines, then cap at a newline boundary (never splits a tag).\nconst build = (parts) => {\n  const s = parts.filter((p) => p != null).join('\\n')\n    .replace(/\\n{3,}/g, '\\n\\n')\n    .replace(/^\\n+|\\n+$/g, '')\n    .trim();\n  if (s.length <= 3900) return s;\n  const at = s.lastIndexOf('\\n', 3900);\n  return s.slice(0, at > 0 ? at : 3900).trim();\n};\n\nconst backBullets  = toBullets(backend, 4);\nconst frontBullets = toBullets(frontend, 4);\nconst recapBullets = toBullets(recapBody, 3);\n\nconst messages = [\n  {\n    tokenVar: 'TELEGRAM_BOT_TOKEN_BACKEND',\n    text: build([\n      '☀️ <b>Morning, Kira</b> — 1/2 — ' + esc(today),\n      '',\n      '• ' + esc(clip(signalHead, 200)),\n      phase ? '• 🎯 ' + esc(clip(phase, 120)) : null,\n      doctorLine || null,\n      '',\n      '🔧 <b>Backend</b>',\n      backBullets.length ? backBullets.join('\\n') : '• Quiet night.',\n      '',\n      '📱 <b>Mobile</b>',\n      frontBullets.length ? frontBullets.join('\\n') : '• Quiet night.',\n      recapBullets.length ? '' : null,\n      recapBullets.length ? '🌙 <b>Also overnight</b>' : null,\n      recapBullets.length ? recapBullets.join('\\n') : null,\n      loopNext ? '▶️ ' + esc(clip(loopNext.replace(/^NEXT:\\s*/, ''), 140)) : null,\n      '',\n      '<i>Detail: STATUS.md</i>'\n    ])\n  },\n  {\n    tokenVar: 'TELEGRAM_BOT_TOKEN_HUMAN',\n    text: build([\n      '✅ <b>Your moves</b> — 2/2',\n      '',\n      decisions.length ? '🎯 <b>Decide — one line back is enough</b>' : null,\n      decisions.length ? renderTasks(decisions) : null,\n      decisions.length ? '' : null,\n      '☑️ <b>Do this morning</b>',\n      doItems.length ? renderTasks(doItems) : '• Nothing queued — enjoy the coffee. ☕',\n      '',\n      '⛔ <b>Blocked until you act</b>',\n      blockItems.length ? renderTasks(blockItems) : '• Nothing is blocked. 🎉',\n      '',\n      '<i>Full steps: HUMAN-TODO.md</i>'\n    ])\n  }\n];\n\nreturn messages.map((m) => ({ json: m }));\n"
      },
      "id": "node-compile",
      "name": "Compile Brief",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -380,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.telegram.org/bot{{ $env[$json.tokenVar] || $env.TELEGRAM_BOT_TOKEN }}/sendMessage",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ chat_id: $env.TELEGRAM_CHAT_ID, text: $json.text, parse_mode: 'HTML', disable_web_page_preview: true }) }}",
        "options": {
          "batching": {
            "batch": {
              "batchSize": 1,
              "batchInterval": 800
            }
          }
        }
      },
      "id": "node-telegram",
      "name": "Telegram — Send Brief",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -120,
        300
      ],
      "notes": "One sendMessage per compiled item, in order (800ms apart so Telegram keeps sequence). Per-section bot tokens optional — fallback is the single TELEGRAM_BOT_TOKEN."
    }
  ],
  "connections": {
    "Schedule 06:05": {
      "main": [
        [
          {
            "node": "Compile Brief",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Compile Brief": {
      "main": [
        [
          {
            "node": "Telegram — Send Brief",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}