AGENTS/claude/automation/morning_brief.workflow.json
{
  "id": "MorningBriefSwing",
  "name": "Morning Brief — SwingBy",
  "active": false,
  "settings": { "executionOrder": "v1", "timezone": "America/Edmonton" },
  "pinData": {},
  "nodes": [
    {
      "parameters": {
        "rule": { "interval": [ { "field": "cronExpression", "expression": "5 6 * * *" } ] }
      },
      "id": "node-schedule",
      "name": "Schedule 06:05",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [ -640, 300 ]
    },
    {
      "parameters": {
        "jsCode": "// Compile the Morning Brief as FOUR messages (repo mounted read-only at /data/swingby):\n//   1/4 🔧 BACKEND · 2/4 📱 FRONTEND · 3/4 🧑 HUMAN TODO · 4/4 🌙 NIGHT RECAP\n// Each item carries tokenVar so each section can post from its own bot later\n// (set TELEGRAM_BOT_TOKEN_BACKEND etc. in n8n.env; falls back to TELEGRAM_BOT_TOKEN).\nconst fs = require('fs');\nconst read = (p) => { try { return fs.readFileSync(p, 'utf8'); } catch (e) { return ''; } };\nconst MEM = '/data/swingby/AGENTS/claude/memory/';\n\nconst status = read(MEM + 'STATUS.md');\nconst todo   = read(MEM + 'HUMAN-TODO.md');\nconst slog   = read(MEM + 'SESSION_LOG.md');\nconst onlog  = read('/data/swingby/AGENTS/claude/automation/overnight.log');\n\n// Body of a '## Heading' section ('###' subheadings stay inside).\nconst section = (src, heading, hashes) => {\n  hashes = hashes || '##';\n  const esc = heading.replace(/[.*+?^${}()|[\\]\\\\]/g, '\\\\$&');\n  const m = new RegExp('^' + hashes + ' .*' + esc + '.*$', 'm').exec(src);\n  if (!m) return '';\n  const rest = src.slice(m.index + m[0].length);\n  const next = rest.search(new RegExp('^' + hashes + ' ', 'm'));\n  return (next === -1 ? rest : rest.slice(0, next)).trim();\n};\n\nconst checkboxes = (body) => body\n  .split('\\n')\n  .filter((l) => l.startsWith('- [ ]'))\n  .map((l) => ('• ' + l.replace(/^- \\[ \\] /, '').replace(/\\*\\*/g, '')).slice(0, 220));\n\nconst signal = section(status, 'Session End Signal');\nconst signalLines = signal.split('\\n');\nconst signalHead = (signalLines[0] || 'no signal — read STATUS.md').trim();\n\n// Preferred path: orchestrator wrote an explicit '## Morning Brief' section with\n// '### Backend' / '### Frontend' / '### Recap' subsections. Fallback: bucket the\n// Session End Signal bullets by keyword (both/neither → recap).\nconst mb = section(status, 'Morning Brief');\nlet backend = section(mb, 'Backend', '###');\nlet frontend = section(mb, 'Frontend', '###');\nlet recapBody = section(mb, 'Recap', '###');\n\nif (!backend && !frontend) {\n  const bullets = signalLines.filter((l) => /^\\s*[-•]\\s/.test(l)).map((l) => l.replace(/^\\s*[-•]\\s*/, '• '));\n  const prose = signalLines.slice(1).filter((l) => l.trim() && !/^\\s*[-•]\\s/.test(l)).join('\\n');\n  const isBack = (b) => /backend|fastapi|pytest|endpoint|\\.py\\b|supabase|migration|\\bsql\\b|render|stripe|conftest/i.test(b);\n  const isFront = (b) => /mobile|frontend|screen|expo|babel|react|\\bRN\\b|gesture|navigation|App\\.js|\\.js\\b|safearea/i.test(b);\n  const back = [], front = [], rest = [];\n  for (const b of bullets) {\n    const bb = isBack(b), ff = isFront(b);\n    if (bb && !ff) back.push(b);\n    else if (ff && !bb) front.push(b);\n    else rest.push(b);\n  }\n  backend = back.join('\\n');\n  frontend = front.join('\\n');\n  recapBody = [rest.join('\\n'), prose].filter(Boolean).join('\\n\\n');\n}\n\n// Human message: 🌅 morning checkboxes + ⛔ blockers + Next Action.\nconst morning  = checkboxes(section(todo, 'This morning'));\nconst blockers = checkboxes(section(todo, 'Blocking'));\nconst nextActions = section(status, 'Next Action');\n\nconst loopNext = (slog.match(/^NEXT:.*$/gm) || []).pop() || '';\nconst overnightTail = onlog\n  ? onlog.trim().split('\\n').slice(-6).join('\\n')\n  : '(overnight loop did not run)';\n\nconst today = new Date().toLocaleDateString('en-CA', { timeZone: 'America/Edmonton' });\nconst cap = (s) => s.trim().slice(0, 3900);\n\nconst messages = [\n  {\n    tokenVar: 'TELEGRAM_BOT_TOKEN_BACKEND',\n    text: cap([\n      '☀️ SWINGBY BRIEF — ' + today + ' (1/4)',\n      'SIGNAL: ' + signalHead,\n      '',\n      '🔧 BACKEND',\n      backend || '• (nothing backend tonight)'\n    ].join('\\n'))\n  },\n  {\n    tokenVar: 'TELEGRAM_BOT_TOKEN_FRONTEND',\n    text: cap([\n      '📱 FRONTEND / MOBILE (2/4)',\n      '',\n      frontend || '• (nothing mobile tonight)'\n    ].join('\\n'))\n  },\n  {\n    tokenVar: 'TELEGRAM_BOT_TOKEN_HUMAN',\n    text: cap([\n      '🧑 HUMAN TODO — only you can (3/4)',\n      '',\n      morning.length ? '🌅 This morning:\\n' + morning.join('\\n') : '',\n      blockers.length ? '⛔ Blocking:\\n' + blockers.join('\\n') : '⛔ Blocking: (clear)',\n      '',\n      '— NEXT ACTIONS —',\n      nextActions || '(none recorded)'\n    ].filter((s) => s !== '').join('\\n'))\n  },\n  {\n    tokenVar: 'TELEGRAM_BOT_TOKEN_NIGHT',\n    text: cap([\n      '🌙 NIGHT RECAP (4/4)',\n      '',\n      recapBody || '(quiet night)',\n      '',\n      '— LOOP LOG TAIL —',\n      overnightTail,\n      '',\n      loopNext ? 'LOOP ' + loopNext : ''\n    ].join('\\n'))\n  }\n];\n\nreturn messages.map((m) => ({ json: m }));"
      },
      "id": "node-compile",
      "name": "Compile Brief",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [ -380, 300 ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.telegram.org/bot{{ $env[$json.tokenVar] || $env.TELEGRAM_BOT_TOKEN }}/sendMessage",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ chat_id: $env.TELEGRAM_CHAT_ID, text: $json.text, disable_web_page_preview: true }) }}",
        "options": { "batching": { "batch": { "batchSize": 1, "batchInterval": 800 } } }
      },
      "id": "node-telegram",
      "name": "Telegram — Send Brief",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [ -120, 300 ],
      "notes": "One sendMessage per compiled item, in order (800ms apart so Telegram keeps sequence). Per-section bot tokens optional — fallback is the single TELEGRAM_BOT_TOKEN."
    }
  ],
  "connections": {
    "Schedule 06:05": { "main": [ [ { "node": "Compile Brief", "type": "main", "index": 0 } ] ] },
    "Compile Brief": { "main": [ [ { "node": "Telegram — Send Brief", "type": "main", "index": 0 } ] ] }
  }
}
